ChassisManager/Microsoft.GFS.WCS.ChassisManager.sln.DotSettings
ChassisManager/Microsoft.GFS.WCS.ChassisManager.suo
ChassisManager/bin/
ChassisManager/obj/
Contracts/bin/
Contracts/obj/
Ipmi/bin/
Ipmi/obj/
