<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ServiceName" value = "Wcscli"/>
    <add key="COMPortName" value = "COM2"/>
    <add key="COMPortBaudRate" value = "115200"/>
  </appSettings>
</configuration>
